___
# Python Basics

This is not meant to be a comprehensive overview of Python just basic syntax of the language.

This tutorial will give give basic overview of jupyter notebooks.

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter

## >DATA TYPES

### Numbers

In [49]:
1 + 1

2

In [50]:
1 * 3

3

In [51]:
1 / 2

0.5

In [52]:
2 ** 4

16

In [53]:
4 % 2

0

In [54]:
5 % 2

1

In [55]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [56]:
# Can not start with number or special characters
name_of_var = 2

In [57]:
x = 2
y = 3

In [58]:
z = x + y

In [59]:
z

5

### Strings

In [60]:
'single quotes'

'single quotes'

In [61]:
"double quotes"

'double quotes'

### Printing

In [62]:
x = 'hello_world'

In [63]:
x

'hello_world'

In [64]:
print(x)

hello_world

In [65]:
num = 10
name = 'Sam'

In [66]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 10, and my name is: Sam

### Lists

In [67]:
[1,2,3]

[1, 2, 3]

In [68]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [69]:
my_list = ['a','b','c']

In [70]:
my_list.append('d')

In [71]:
my_list

['a', 'b', 'c', 'd']

In [72]:
my_list[0]

'a'

In [73]:
my_list[1]

'b'

In [74]:
my_list[1:]

['b', 'c', 'd']

In [75]:
my_list[:1]

['a']

In [76]:
my_list[0] = 'NEW'

In [77]:
my_list

['NEW', 'b', 'c', 'd']

In [78]:
nest = [1,2,3,[4,5,['target']]]

In [79]:
nest[3]

[4, 5, ['target']]

In [80]:
nest[3][2]

['target']

In [81]:
nest[3][2][0]

'target'

### Dictionaries

In [82]:
d = {'key1':'item1','key2':'item2'}

In [83]:
d

{'key1': 'item1', 'key2': 'item2'}

In [84]:
d['key1']

'item1'

### Booleans

In [85]:
True

True

In [86]:
False

False

### Tuples

In [87]:
t = (1,2,3)

In [88]:
t[0]

1

In [89]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## >COMPARISION OPERATORS

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## >LOGICAL OPERATORS

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [90]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## >if,elif, else STATEMENTS

In [91]:
if 1 < 2:
    print('Yep!')

Yep!

In [92]:
if 1 < 2:
    print('hello')

hello

In [93]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [94]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [95]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## >for LOOPS

In [96]:
seq = [1,2,3,4,5]

In [97]:
for i in seq:
    print(i)

1
2
3
4
5

In [98]:
for i in seq:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

## >while LOOPS

In [99]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## >range()

In [100]:
range(5)

range(0, 5)

In [101]:
for i in range(5):
    print(i)

0
1
2
3
4

In [102]:
list(range(5))

[0, 1, 2, 3, 4]

## >LIST COMPREHENSION

In [103]:
x = [1,2,3,4]

In [104]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [105]:
[item**2 for item in x]

[1, 4, 9, 16]

## >FUNCTIONS

In [106]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [107]:
my_func

In [108]:
my_func()

default

In [109]:
my_func('new param')

new param

In [110]:
my_func(param1='new param')

new param

In [111]:
def square(x):
    return x**2

In [112]:
out = square(2)

In [113]:
print(out)

4

## >LAMBDA EXPRESSIONS

In [114]:
def times2(var):
    return var*2

In [115]:
times2(2)

4

In [116]:
lambda var: var*2

## >MAP & FILTER

In [117]:
seq = [1,2,3,4,5]

In [118]:
map(times2,seq)

In [119]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [120]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [121]:
filter(lambda item: item%2 == 0,seq)

In [122]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]